:root {
    --button-color: #596D48;
    --tint-wt-color: whitesmoke;
    --paddig_hori: 5vw;
}

@font-face {
    font-family: no-fudge;
    src: url(./fonts/NoFudgeGivenDEMO-Regular.otf);
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(55, 21, 21);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#bk-section {
    width: 35vw;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#bk-section>h1 {
    font-family: no-fudge, 'Times New Roman', Times, serif;
    font-size: 6vw;
    color: var(--tint-wt-color);
    position: relative;
    top: 9.2vh;
    text-align: center;
    background-color: #00000070;
}

#form-section {
    width: 65vw;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--tint-wt-color);
}

#form-section>p {
    margin-top: 10vh;
    height: min-content;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6rem;
    padding-left: var(--paddig_hori);
    padding-right: var(--paddig_hori);
}

#form-section>.frm {
    display: flex;
    flex-direction: column;
    height: max(44vh, min-content);
    background-color: white;
    padding-left: var(--paddig_hori);
    padding-right: var(--paddig_hori);
}

.frm>h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

.frm>.inputs-container {
    text-transform: uppercase;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
}

.inputs-container>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

input {
    /* appearance: none; */
    font-size: 1rem;
    width: 20vw;
    height: 1.5rem;
    background-color: var(--tint-wt-color);
    border: 1px solid rgb(178, 178, 178);
    border-radius: 3px;
}

input:focus {
    outline-color: blue;
}

#form-section>.btn {
    height: max(44vh, min-content);
    padding-left: var(--paddig_hori);
    padding-right: var(--paddig_hori);
    position: relative;
}

.btn>button,
.btn>p {
    position: relative;
    top: 5vh;
    /* background-color: var(--button-color); */
}

.btn>button {
    font-size: 1rem;
    font-weight: bolder;
    color: var(--tint-wt-color);
    background-color: var(--button-color);
    width: 15vw;
    height: 7vh;
    border-radius: 0.4rem;
    border: 1px solid rgb(24, 86, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.751);
}

button:hover {
    background-color: #425136;
}

a {
    text-decoration: none;
    color: var(--button-color);
    font-weight: bolder;
}

input:invalid {
    outline-color: red;
}