:root {
    --button-color: #596D48;
    --tint-wt-color: whitesmoke;
}

@font-face {
    font-family: no-fudge;
    src: url(./fonts/NoFudgeGivenDEMO-Regular.otf);
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(55, 21, 21);
    background-color: var(--tint-wt-color);
}

main {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#bk-section {
    flex: 0;
    height: 100%;
    min-width: auto;
    position: relative;
}

#bk-section>img {
    height: 99%;
}

#bk-section>h1 {
    position: absolute;
    top: 15%;
    width: 100%;

    font-family: no-fudge, 'Times New Roman', Times, serif;
    font-size: clamp(3rem, 5vh + 1rem , 6rem);
    color: var(--tint-wt-color);
    text-align: center;
    background-color: #00000070;
}

#form-section {
    flex: 1;
    min-width: 50%;

    display: flex;
    flex-direction: column;
    position: relative;

    background-color: var(--tint-wt-color);

    --paddig_hori: 5%;
}

#form-section>p {
    flex: 1;
    height: min-content;

    font-size: clamp(1.2rem, calc(calc(0.5vw + 0.5vh) + 1rem), 1.8rem);
    font-weight: 600;
    line-height: clamp(1.6rem, calc(calc(0.5vw + 0.5vh) + 1.2rem), 1.7rem);

    display: flex;
    align-items: end;

    padding:  0 var(--paddig_hori) 0 var(--paddig_hori);
}

#form-section>.frm {
    flex: 1;
    height: min-content;
    
    display: flex;
    flex-direction: column;

    background-color: white;

    padding: 0 var(--paddig_hori) 2% var(--paddig_hori);
}

.frm>h2 {
    font-size: clamp(1.2rem, calc(calc(0.5vw + 0.5vh) + 1rem), 1.8rem);
    font-weight: bolder;
}

.frm>.inputs-container {
    text-transform: uppercase;
    font-size: 0.8rem;

    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    align-items: stretch;

    width: 80%;
}

.inputs-container>div {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 1%;
}

input {
    /* appearance: none; */
    font-size: 1rem;
    width: 100%;
    height: 1.5rem;
    background-color: var(--tint-wt-color);
    border: 1px solid rgb(178, 178, 178);
    border-radius: 3px;
}

input:focus {
    outline-color: blue;
}

input:invalid {
    outline-color: red;
}

#form-section>.btn {
    flex: 1;
    padding: 4% var(--paddig_hori) 0 var(--paddig_hori);
}

.btn>button {
    font-size: 1rem;
    font-weight: bolder;
    color: var(--tint-wt-color);

    background-color: var(--button-color);
    width: max(min-content, 10%);
    height: 2rem;

    border-radius: 0.4rem;
    border: 1px solid rgb(24, 86, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.751);
}

button:hover {
    background-color: #425136;
}

a {
    text-decoration: none;
    color: var(--button-color);
    font-weight: bolder;
}